<p>Your Email: <%= @user.email %></p>

<% @user.books.each do |b| %>
  <h1><%= b.title  %></h1>
  <p>Author: <%= b.author  %></p>
  <br/>
  <br/>
<% end %>



<%= link_to "Edit User Info", edit_user_registration_path, :method => :get %><br/>
